{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loginstyle.css' %}">
    <title>Login Form</title>
    <style>
        body{
            background-image: url("{% static 'img/register.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
    <div class="loginbox">
        <h1>Login Here</h1>
        <form name="f1" action="" method="POST" onsubmit="return validation()">
            {% csrf_token %}
            <div>
            <p>Username</p>
            <input type="text" id="username" name="username" placeholder="Enter Username name"required>
            <p>Password</p>
            <input type="password" id="pass1" name="pass1" placeholder="Enter Password"required>
            <input type="submit" value="login">
            <a href='{% url 'signup' %}' style='color:yellow'>Don't have an account?</a>
            </div>
        </form>
     </div>
     <script>  
        function validation()  
        {  
            var id=document.f1.user.value;  
            var ps=document.f1.pass.value;  
            if(id.length=="" && ps.length=="") {  
                alert("User Name and Password fields are empty");  
                return false;  
            }  
            else  
            {  
                if(id.length=="") {  
                    alert("User Name is empty");  
                    return false;  
                }   
                if (ps.length=="") {  
                alert("Password field is empty");  
                return false;  
                }  
            }                             
        }  
    </script>  
</body> 
</html>