body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ff8d22a5
  }

 .quiz-container {
    border: 5px 5px 5px solid red;
    max-width: 650px;
    margin: 50px auto;
    padding: 20px;
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.986);
}

.quiz-title {
    text-align: center;
    margin-bottom: 20px;
}

.quote {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}


.next-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: rgba(128, 128, 128, 0.708);
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color:  rgb(128, 128, 128);
    text-decoration: none;
}

.next-button a:hover{
 text-decoration: none;
}

.text-container {
  display: grid;
  border: 5px 5px 5px solid red;
  max-width: 650px;
  padding: 20px; 
  background-color: lightgrey;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.986); 
}