*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: #512121;
} 

.loginbox{
    width: 350px;
    height: 500px;
    padding: 70px 30px;
    background:none;
    color: #fff;
    top: 50%;
    left: 50%;
    position: static;
    transform: translate(-50%,-50);
    box-sizing: border-box;
    margin-left: 35%;
}
.loginbox p{
    margin: 0%;
    padding: 0%;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 15px;
}
.loginbox input[type="text"], input[type="password"], input[type="email"]{
    border: none;
    border-bottom: 1px solid #fbfafa;
    background: transparent;
    outline: none;
    height: 40px;
    color: #f9b6b6;
    font-size: 16px;
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}
.loginbox a:hover{
    color: #ffc107;
}
h1{
    margin: 0px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

button{
    text-align: right;
    background-color: rgba(255, 111, 0, 0.641);
    border-radius: 5px;
    padding: 5px ;
}
button:hover{
    color: white;
    background-color: rgb(144, 144, 245);
}
button a{
    text-decoration: none;
    color: black;
    font-weight: 50;

}

button a:hover{
    color: white;
}